.tryit {
  border-radius: 0.8rem;
  width: 100%;
  background-color: var(--accent);
  color: var(--accent-text);
  padding: 0.5rem 1rem;
  text-align: center;
}

a {
  color: var(--accent-15);
  text-decoration: underline;
}

ul {
  margin-left: 1rem;
}